.chip {
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 10px;
  padding: 8px 16px 8px 16px;
  border-radius: 100px;
  line-height: 24px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto;
  min-width: 100px;
}

.chip:first-child::after {
  content: '';
  width: 52px;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.recipient {
  flex-grow: 0.2;
  max-width: 320px;
}

.recipient .chip {
  color: var(--pink);
  background-color: var(--light-pink);
  justify-content: center;
}

.recipient .chip::after {
  background: none;
  width: 0px;
}

.recipient .chip:hover {
  background-color: var(--lighter-pink);
}
