.menu-button > a {
  text-decoration: none !important;
  color: inherit;
  font-size: inherit;
  color: var(--white);
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 8px 6px;
  margin-right: 4px;
}

.menu-button > a:hover {
  border-radius: 6px;
  background-color: #3682d4;
}

.menu-button_icon {
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.menu-button {
  padding: 0 !important;
}
