.url {
  flex-grow: 1;
  max-width: 480px;
}

.url .chip {
  color: var(--blue);
  background-color: var(--light-blue);
}

.url .chip svg {
  transform: rotate(-45deg);
  margin-right: -6px;
}

.url .chip:after {
  background: linear-gradient(to left, var(--light-blue) 28%, var(--white));
}

.url .chip:hover {
  background-color: var(--lighter-blue);
}

.url .chip:hover::after {
  background: linear-gradient(to left, var(--lighter-blue) 28%, var(--white));
}
