@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('./reset.css');
@import url('./vars.css');
@import url('./components/index.css');

.active {
  color: var(--grey);
}

.active a {
  border-radius: 6px;
  background-color: var(--blue);
}

.link svg {
  transform: rotate(-45deg);
}

.logout {
  margin-left: auto !important;
}

.page-wrapper {
  padding: 0px 18px;
  margin-top: 10px;
}

td {
  vertical-align: top !important;
}

.footer {
  background-color: var(--white);
  color: var(--black32);
  padding: 10px 18px;
  margin-top: 20px;
  text-align: right;
}

@media (max-width: 1400px) {
  .url {
    max-width: 400px;
  }
}
