:root {
  --pink: rgb(155, 77, 255);
  --light-pink: rgb(244, 221, 255);
  --lighter-pink: rgb(255, 192, 255);
  --light-blue: rgb(214, 235, 255);
  --lighter-blue: rgb(192, 225, 255);
  --blue: rgb(31, 144, 255);
  --black32: rgba(0, 0, 0, 0.32);
  --white: rgb(255, 255, 255);
  --grey: rgb(68, 68, 68);
  --ligth-grey: rgb(224, 224, 224);
  --red: rgb(255, 0, 0);
}
